{% extends 'base.html' %}
{% load static %}

{% block css %}
<style>
    .box {
        background-color: transparent !important;
        color: rgb(25, 132, 52) !important;
        box-shadow: 0 1.5em 2em 0.875em rgba(10, 10, 10, .1), 0 0 0 2px rgba(10, 10, 10, .02);
    }

    #sc-info {
        padding-bottom: 4px;
        border-bottom: 4px solid rgb(25, 132, 52);
    }

    .title_block {
        font-size: 20px;
        font-weight: bolder;
        padding: 10px;
        padding-left: 0px;
        margin-top: 20px;
    }

    .choice_block {
        font-size: 20px;
        padding: 10px;
        border: 1px solid rgb(25, 132, 52);
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0 1.5em 2em 0.875em rgba(10, 10, 10, .1), 0 0 0 2px rgba(10, 10, 10, .02);
        transition: all .3s ease;
        position: relative;
    }

    .choice {
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
        font-size: 20px;
        width: 50px;
        padding: 10px;
        background-color: rgb(254, 223, 144);
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    .choice-detail {
        margin-left: 50px;
    }

    .choice_block:hover {
        box-shadow: none;
    }

    .choice_block.selected {
        background-color: rgb(254, 223, 144);
    }

    .choice_block.success {
        color: #000;
        background-color: rgb(25, 132, 52);
        opacity: 0.8;
    }

    .choice_block.failed {
        color: #000;
        background-color: red;
        opacity: 0.8;
    }

    .choice_block.selected .choice,
    .choice_block.success .choice,
    .choice_block.failed .choice {
        border-right: 1px solid rgb(25, 132, 52);
    }

    #confirmbtn {
        font-size: 20px;
        font-weight: bolder;
        color: #000;
    }

    #confirmbtn:hover {
        background-color: rgb(25, 132, 52);
    }

    .answer,
    .description {
        font-size: 20px;
        line-height: 35px;
        margin: 10px;
    }
</style>
{% endblock %}


{% block content %}
{% include 'partials/header.html' %}
<div class="box mt-6" id="app">
    <p id="sc-info">
        <span class="mr-5"><small class="mr-2">题号:</small><strong>{[ sc.no ]}</strong></span>
        <span class="mr-5"><small class="mr-2">标签:</small><strong>{[ scTags ]}</strong></span>
        <span><small class="mr-2">难度:</small><strong>{[sc.star]}颗星</strong></span>
    </p>
    <div class="block title_block">{[sc.title]}</div>
    <div class="block choice_block" @click="selectOne" choice="a">
        <div class="choice">A</div>
        <span class="choice-detail">{[sc.choice_a]}</span>
    </div>
    <div class="block choice_block" @click="selectOne" choice="b">
        <div class="choice">B</div>
        <span class="choice-detail">{[sc.choice_b]}</span>
    </div>
    <div class="block choice_block" @click="selectOne" choice="c">
        <div class="choice">C</div>
        <span class="choice-detail">{[sc.choice_c]}</span>
    </div>
    <div class="block choice_block" @click="selectOne" choice="d">
        <div class="choice">D</div>
        <span class="choice-detail">{[sc.choice_d]}</span>
    </div>

    <div class="buttons is-centered mt-6">
        <button class="button is-rounded is-success is-outlined" id="confirmbtn" @click="postQuestion">确认&解析</button>
    </div>
    <div v-if="right_choice" class="block">
        <p v-if="right_choice" class="answer">答案: <strong>{[right_choice]}</strong></p>
        <p v-if="description" class="description">解析: <strong>{[description]}</strong></p>
        <p v-if="next" class="description">
            <button class="button is-warning" @click="getOneQuestion">下一题</button>
        </p>
    </div>
</div>

{%endblock%}


{% block js %}
<script src="{% static 'js/common.js' %}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ["{[", "]}"],
        data: function () {
            return {
                sc: {
                    tags: []
                },
                selected_block: null,
                right_choice: '',
                description: '',
                next: false,

            }
        },
        computed: {
            scTags: function () {
                let tags = []
                this.sc.tags.forEach(element => {
                    tags.push(element.name)
                });
                return tags.join(',')
            },
        },
        methods: {
            getOneQuestion: function () {
                this.resetInfo()
                fetch("{% url 'scstart' %}").then((res) => res.json()).then((data) => {
                    this.sc = data
                })
            },
            postQuestion: function () {
                if (!this.selected_block) {
                    sweetAlert('info', '请先选择一个选项！')
                    return;
                }
                if (this.right_choice) {
                    return;
                }
                fetch("{% url 'scstart' %}", {
                    method: 'POST',
                    headers: {
                        Accept: 'application.json',
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                        'todo-sc-no': this.sc.no,
                        'select-choice': this.selected_block.getAttribute('choice'),
                    }
                }).then((res) => res.json()).then((data) => {
                    this.right_choice = data.right_choice;
                    this.description = data.desc;
                    this.next = true;
                    this.selected_block.classList.remove('selected');

                    if (data.status === true) {
                        this.selected_block.classList.add('success');
                    } else {
                        this.selected_block.classList.add('failed');
                    }
                })
            },
            selectOne: function (e) {
                // 获取外层的choice_block
                let block = e.target
                if (!block.classList.contains('choice_block')) {
                    block = block.parentNode
                }
                // 二次点击取消选中状态
                if (block.classList.contains('selected')) {
                    block.classList.remove('selected')
                    return
                }
                // 点击并选中其他block
                choises = document.getElementsByClassName('choice_block')
                for (let index = 0; index < choises.length; index++) {
                    choises[index].classList.remove('selected')
                }
                block.classList.add('selected')
                this.selected_block = block;
            },
            resetInfo: function () {
                this.sc = { tags: [] }
                this.selected_block = null
                this.right_choice = ''
                this.description = ''
                this.next = false
                choises = document.getElementsByClassName('choice_block')
                for (let index = 0; index < choises.length; index++) {
                    choises[index].classList.remove('selected')
                    choises[index].classList.remove('success')
                    choises[index].classList.remove('failed')
                }
            },
        },
        mounted() {
            this.getOneQuestion()
        },
    })
</script>
{% endblock %}