{% extends 'console/base.html' %}
{% load static %}

{%block consolecss%}
<style>
    #tovip{
        cursor: pointer;
        color: rgb(25, 132, 52);
    }
    #tovip:hover {
        font-size: 20px;
    }
</style>

{% endblock%}



{% block consolecontent %}

<div class="p-4">
    <h1 class="title" id="title">个人信息</h1>
    <div class="block">
        用户名：<strong>{{request.user.username}}</strong>
    </div>
    <div class="block">
        上次登陆时间：<strong>{{request.user.last_login|date:'Y-m-d H:i:s'}}</strong>
    </div>
    <div class="block">
        账号类型：
        {% if request.user.vip %}
        <strong>VIP</strong>
        {% else %}
        <strong>普通账号</strong>&nbsp;<small><a href="#">升级VIP</a></small>
        {% endif %}
    </div>
    <div class="block">
        手机号：<strong>{{request.user.telephone}}</strong>
    </div>
    <div class="block">
        邮箱：
        {%if request.user.email%}
            <strong>{{request.user.email}}</strong>
        {%else%} 
            <a href="{% url 'bindemail' %}">绑定邮箱</a>
        {%endif%}
    </div>
    <div class="block">
        今日答题数量：<strong>{{today_sc_counts}}</strong>
    </div>
    <div class="block">
        收藏题目数量：<strong>{{collected_sc_counts}}</strong>
    </div>
</div>

{% endblock %}