{% extends 'console/base.html' %}



{% block consolecontent %}

<div class="p-4">
    <h1 class="title">收藏题目</h1>

    {% if loved_sc_stats %}
    <table class="table is-striped is-hoverable is-fullwidth mt-4">
        <thead>
            <tr>
                <th>序号</th>
                <th>题号</th>
                <th>标签</th>
                <th>答对了吗</th>
            </tr>
        </thead>
        <tbody>
            {% for sc in daily_sc_stats %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ sc.no }}</td>
                <td>{{ sc.tag }}</td>
                <td>{{ sc.correct }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% else %}
    <p>暂无数据</p>
    {% endif %}
</div>

{% endblock %}